.giftext {
    @apply block relative text-[100px] my-0 font-light my-0 leading-[1.3em] tracking-[-6px] 
}

.projectHeading {
    @apply text-[100px] font-light block relative leading-[1.3m] tracking-[-6px] mb-[20px] z-50
}

.projectSubheading {
    @apply text-[30px] font-extralight leading-[1.4] overflow-hidden z-50
}

.projectWidth {
    @apply w-[800px]
}

.giftextSub {
    @apply text-[30px] font-[200] leading-[1.4] mb-[12px] z-50
}

.gif {
    background-image: url("./assets/gif-poster.jpeg");
    background-size: cover;
    background-position: top;
    width: 2000px;
    z-index: 10;
    @apply h-[800px] overflow-visible rounded-[20px] relative
}

/* .sticky {
    position:  -webkit-sticky;
    position: sticky;
    top: 0;
    border-radius: 20px;
    height: 800px;
} */

.project1:hover {
    background-image: url(/app/assets/view-icon.svg);
    @apply h-auto inline-block align-middle max-w-full hover:cursor-pointer transition ease-in-out hover:-translate-y-1 hover:scale-125
}

.navdrawer {
    @apply w-[60px] h-[60px] bg-[#fff] rounded-[100px] relative flex flex-col items-start justify-center shadow-[0_0_20px_rgba(0,0,0,0.1)] mr-5
}

.firstline {
    @apply w-[60%] h-[1px] bg-black mx-3 mb-[5px]
}

.secondline {
    @apply w-[40%] h-[1px] bg-black ml-3 mb-[5px]
}

.thirdline {
    @apply w-[60%] h-[1px] bg-black ml-3
}

.heading {
    @apply block relative text-[100px] text-center font-[300] tracking-[-6px] leading-[1.3em] mb-[16px]
}

.subheading {
    @apply block text-[24px] font-[200] leading-[1.43em] mr-[10px] mb-[19px]
}

.horizontalText {
    @apply text-[70px] font-extralight ml-[10px] mr-[10px]
}

.horizontalImage {
    @apply h-[70px] mt-5
}

.projectWrapper2 {
    @apply flex gap-[20px] mt-[20px] overflow-hidden
}

.gifWrapper {
    background-image: url('./assets/gif-poster.jpeg');
    @apply sticky h-[100%] overflow-hidden bg-scroll
}

.gifContainer {
        background-image: url(./assets/gif-image.png); 
        background-position: center;
        /* 
          the three following items below do the following: 
            a) fix the width and height of the containing div
               to be smaller than the width and height of the content.
            b) we set the overflow style so that when the content is
               bigger than the containing element scroll bars appear
               to allow users to scroll the element contents. 
        */
        height: 800px; 
        width: 100%; 
        overflow:scroll;
}

.gifImage {
    z-index: 1;
}

@media screen and (max-width: 640px) {
    
    .navdrawer {
        @apply w-[50px] h-[50px] 
    }

    .firstline {
        @apply w-[50%]
    }

    .secondline {
        @apply w-[30%]
    }

    .thirdline {
        @apply w-[50%]
    }

    .heading {
        @apply text-[51px] leading-[1] tracking-[-3px]
    }

    .subheading {
        @apply text-[18px] 
    }

    .horizontalText {
        @apply text-[40px]
    }

    .horizontalImage {
        @apply h-[70px] mt-[0]
    }

    .projectWrapper2 {
        @apply flex flex-col
    }

    .giftext {
        @apply invisible
    }
    
    .giftextSub {
        @apply invisible
    }

    .projectHeading {
        @apply text-[45px] leading-[1] tracking-[-3px]
    }

    .projectSubheading {
        @apply text-[21px] 
    }

    .projectWidth {
        @apply w-[auto]
    }

}